# Loops 

Life is full of routines. In programming we also do lots of repetitive tasks. In order to handle repetitive task programming languages use loops. Python programming language also provides the following types of two loops:

1. while loop
2. for loop

# While Loop
We use the reserved word while to make a while loop. It is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the lines of code after the loop will be continued to be executed.

In [ ]:
  # syntax
while condition:
    code goes here

In [ ]:
count = 0
while count < 5:
    print(count)
    count = count + 1
#prints from 0 to 4

In the above while loop, the condition becomes false when count is 5. That is when the loop stops. If we are interested to run block of code once the condition is no longer true, we can use else.

In [ ]:
  # syntax
while condition:
    code goes here
else:
    code goes here

In [ ]:
count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

The above loop condition will be false when count is 5 and the loop stops, and execution starts the else statement. As a result 5 will be printed.

## Break and Continue - Part 1

* Break: We use break when we like to get out of or stop the loop.

In [ ]:
# syntax
while condition:
    code goes here
    if another_condition:
        break

In [ ]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

The above while loop only prints 0, 1, 2 and 4 (skips 3).

# For Loop
A for keyword is used to make a for loop, similar with other programming languages, but with some syntax differences. Loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

In [ ]:
language = 'Python'
for letter in language:
    print(letter)


for i in range(len(language)):
    print(language[i])

In [ ]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

In [ ]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

## Break and Continue - Part 2
* Short reminder: Break: We use break when we like to stop our loop before it is completed.

In [ ]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

In the above example, the loop stops when it reaches 3.

Continue: We use continue when we like to skip some of the steps in the iteration of the loop

In [ ]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") # for short hand conditions need both if and else statements
print('outside the loop')

In the example above, if the number equals 3, the step after the condition (but inside the loop) is skipped and the execution of the loop continues if there are any iterations left.

# The Range Function
The range() function is used list of numbers. The range(start, end, step) takes three parameters: starting, ending and increment. By default it starts from 0 and the increment is 1. The range sequence needs at least 1 argument (end). Creating sequences using range

In [ ]:
lst = list(range(11)) 
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
st = set(range(1, 11))    # 2 arguments indicate start and end of the sequence, step set to default 1
print(st) # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

lst = list(range(0,11,2))
print(lst) # [0, 2, 4, 6, 8, 10]
st = set(range(0,11,2))
print(st) #  {0, 2, 4, 6, 8, 10}

In [ ]:
for number in range(11):
    print(number)   #

## Nested For Loop
We can write loops inside a loop.

In [ ]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

## Pass
In python when statement is required (after semicolon), but we don't like to execute any code there, we can write the word pass to avoid errors. Also we can use it as a placeholder, for future statements.

In [ ]:
for number in range(6):
    pass

# Examples

In [ ]:
v=5

if v>=50: # 1st body
  print("pass") # out pass
  if v==50:
    print("CR") # out CR
  elif v==100:
    print("Prize")

else:
  print("Fail")
  if v<10:
    print("Loser")

In [ ]:
# Ki 10/10
num1= 5
num2= int(input("enter the num2"))
if num2!= 0:
  print (num1/num2)
else :
  print ("Math error")

In [ ]:
inp = input("Enter Denominator: ")
d = int(inp)
if(d != 0):
  print(f"10/{d} = ",(10/d))
else:
  print("Cannot divide by zero!")

In [ ]:
q=int(input("einter F_num"))
w=int(input("einter S_num"))
if w==0:
    ("error")
else:
   print(q/w)

In [ ]:
num=int(input())
a=5
if num==0:
  print("math error")
else:
 print(a/num)

In [ ]:
the_place = int(input("enter number the_place "))
numerator=5
#put user next enter
if not the_place==0 :
     print("the reuslt of of printing is ",numerator/the_place)
else:
     print("wrong process please enter a number not zero")

In [ ]:
# For Loop


q=[1,2,3,"ali",3.5] # Looping 1

for i in q:
  print(i)

In [ ]:
q=[1,2,3,"ali",3.5] # Looping 1

for i in range(len(q)):# [0, 1 , 2, 3 ,4]
  print(q[i])# q[0] =1 , q[1] =2, q[2]=3 , q[3]=ali, q[4]=3.5

In [ ]:
cars=["audi","bmw", "toyota"]

for i in range(0,3):# [0,1,2] # range(3)=range(0,3)
  k=cars[i]
  if k =="bmw":
    print(k.upper())
  else:
    print(k)

In [ ]:
cars=["adui","bmw","toyota"]
for i in range(0,3): #[0,1,2]
 k=cars[i]
 if k=="bmw":
  print(k.upper())
 else:
  print(k)

In [ ]:
list1 = ['ali','sami','muna' ]
list2 = []
for i in range(len(list1)-1) :# [0,1,2] ====[0,1]
  t=list1[i]
  if t =='ali':
   list2.append('ali')
   list1.remove('ali')
print('list1    ',list1)
print('list2     ',list2)

In [ ]:
list1 = ['ali','sami','aaa', 'a' ]
list2 = []
for i in list1 :
  if i =='ali':
   list2.append('ali')
   list1.remove('ali')
print('list1    ',list1)

In [ ]:
ls1 = ["Ali" , "Samni" , "Muna"]
ls2=[]

for i in range( 0,3-1) :
  ls = ls1[i]
  if ls == "Ali" :
    ls2.append("Ali")
    ls1.remove("Ali")
print ("the first list is" , ls1)
print ("the second list is" , ls2)

In [ ]:
Ls1=["Ali","Sami","Muna"]
Ls2=[]
for item in Ls1:
  if item == "Ali":
   Ls2.append("Ali")
   Ls1.remove("Ali")
print("after:" , Ls2 ,"\n", Ls1)

In [ ]:
lst1=["ali", "sami","muna"]
lst2=[]
for i in range(len(lst1)-1):
  x=lst1[i]
  if x=="ali":
    lst2.append("ali")
    lst1.remove("ali")
    print("lst2 : ",lst2)
    print("ls1 : ",lst1)

In [ ]:
l=["ali","sami",'muna']
r=[]
for i in range(len(l)-1): #[0,1,2]
    if l[i]=="ali":
        poped=l.pop(i)
        r.append(poped)
print(l)
print(r)

In [ ]:
dic1={"apple":0.4, "orange":0.35, "banana":0.25}


print(dic1.keys())
print(dic1.values())

print(dic1.items())

In [ ]:
dic1={"apple":0.4, "orange":0.35, "banana":0.25}


for i in dic1.keys():
  print(i)

for h in dic1.values():
  print(h)

for r,m in dic1.items():
  print(r, "\n", m)

In [ ]:
dic1={"apple":40, "orange":100, "banana":30}

for i  in list(dic1.keys()).copy():# [apple, orange, banana]
  if dic1[i]>50:
   del dic1[i]
print(dic1)

In [ ]:
a = {'orange': 10, 'banana':100, 'apple': 20 }
for key, value in list(a.items()):
    if value>50:
        del a[key]
print(a)

## Exercises:

### Exercises: Level 1

1. Iterate 0 to 10 using for loop, do the same using while loop.
2. Iterate 10 to 0 using for loop, do the same using while loop.
3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

In [ ]:
  #
  ##
  ###
  ####
  #####
  ######
  #######

4. Use nested loops to create the following:

In [ ]:
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

5. Print the following pattern:

In [ ]:
0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

6. Iterate through the list, `['Python', 'Numpy','Pandas','Django', 'Flask']` using a for loop and print out the items.
7. Use a for loop to iterate from 0 to 100 and print only even numbers.
8. Use a for loop to iterate from 0 to 100 and print only odd numbers.

### Exercises: Level 2

9. Use a for loop to iterate from 0 to 100 and print the sum of all numbers.
10. Use a for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

### Exercises: Level 3

11. Go to the data folder and use the `countries.py` file. Loop through the countries and extract all the countries containing the word "land".
12. This is a fruit list, `['banana', 'orange', 'mango', 'lemon']`. Reverse the order using a loop.
13. Go to the data folder and use the `countries_data.py` file.
 - What are the total number of languages in the data?
 - Find the ten most spoken languages from the data.
 - Find the 10 most populated countries in the world.